<div id="footerBar">
  <div id="maps">
    <h2>Carte de la ville</h2>
    <br />
    <iframe id="mapsIn" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10499.966498430253!2d2.2944813!3d48.8583701!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6702864536459%3A0x50b82c368941ab0!2s7e%20Arrondissement%20de%20Paris%2C%2075007%20Paris!5e0!3m2!1sfr!2sfr!4v1569443390857!5m2!1sfr!2sfr" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
  <div id="contact">Contact
    <br />
    <a href="/annexes/telephone"> Téléphone : </a>
    <br />
    <p>Form : </p>
    <div class="cognito">
      <script src="https://services.cognitoforms.com/s/3GXzLn6BCUen8ZqY0r2o0A"></script>
      <script>Cognito.load("forms", { id: "1" });</script>
    </div>
  </div>
</div>
