
  <div id="topBar">
    <div class="element" id="tb1" style="cursor: pointer;" onclick="window.location.pathname='';" >Home</div>
    <div class="element" id="tb2" style="cursor: pointer;" onclick="window.location.pathname='conseil-municipal';">Municipal Council</div>
    <div class="element" id="tb7" style="cursor: pointer;" onclick="window.location.pathname='associations';">Associations</div>
    <div class="element elementOnOver1" id="tb3" style="cursor: pointer;" onclick="window.location.pathname='events';">Events</div>
    <div class="element" id="tb4" style="cursor: pointer;" onclick="window.location.pathname='index.html';">Calendar</div>
  </div>
  <div class="element elementCache elementOnOver1" id="tb5" style="cursor: pointer;" onclick="window.location.pathname='events';">Past Events</div>
  <div class="element elementCache elementOnOver1" id="tb6" style="cursor: pointer;" onclick="window.location.pathname='events';">Upcomming Events</div>
  <div id="navBar">
  </div>
