*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#topBar
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;
}
.element
{
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;


}
.element:hover
{
  background-color: green;
}

.elementCache{
  background-color: lightblue;
  display: none;
}

body{
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr 0.7fr;
  grid-template-rows: 0.3fr 0.2fr 0.2fr 1.7fr 0.7;
}
#topBar
{
  height: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-area: 1 / 1 / 2 / 8;
}
#tb1 { grid-area: 1 / 1 / 2 / 2; }
#tb2 { grid-area: 1 / 2 / 2 / 3; }
#tb7 { grid-area: 1 / 3 / 2 / 4; }
#tb3 { grid-area: 1 / 4 / 2 / 5; }
#tb4 { grid-area: 1 / 5 / 2 / 6; }
#tb5 { grid-area: 2 / 4 / 3 / 5; z-index: 1;}
#tb6 { grid-area: 3 / 4 / 4 / 5; z-index: 1;}
#navBar{
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-area: 2 / 6 / 5 / 8;
}
#corps {
  grid-area: 2 / 1 / 5 / 6;
  z-index: 0;
}
#searchBox{
  height: 10px;
}
#associationQuery {
  z-index: 2;
}
#footerBar{
  background-color: lightblue;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-area: 5 / 1 / 6 / 8;
}
#indexContent {
  grid-area: 2 / 1 / 5 / 6;
}
.contenu {
  border: 1px black solid;
  margin: 3px;
  padding: 3px;
}
#mapsIn {
  margin-left: 10px;
  height: 500px;
  width: 500px;
}
#municipalOrg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}
.municipalMembers {
  background-color: rgb(134,165,173);
  margin: 20px;
  padding: 5px;
  text-align: center;
  align: center;
}
#presentation {
  align: center;
  text-align: center;
  padding: 3px;
  margin: 3px;
}

.assoElement {
  background-color: rgb(134,165,173);
  margin: 20px;
  padding: 5px;
  text-align: center;
  align: center;
}

.elementOrg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}
#evenementsHide {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}
#evenementsHide:hover {
  background-color: blue;
}
.pastInAsso {
  display: none;
}
